{% set needSearchLinks = false %}
{% extends './components/layout.njk' %}
{% block title %}{{ "
  {% if column %}
  {{ column }}
  {% else %}
  文章专区
  {% endif %}
" | safe }}{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/css/article.css">
<link rel="stylesheet" href="/static/css/m.css">
{% endblock %}

{% block content %}
<div class="article-container">
  <ul class="article-navbar clearfix">
    {{ '
      {% for i in classes %}
      <li>
        {% ifequal i.name column %}
        <a class="active" href="/{{ belong }}/{{ i.slug }}/">{{ i.name}}</a>
        {% else %}
        <a href="/{{ belong }}/{{ i.slug }}/">{{ i.name}}</a>
        {% endifequal %}

      </li>
      {% endfor %}
    ' | safe }}
  </ul>
  <h1 class="title">
    <span>{{ '
        {% if column %}
        {{ column }}
        {% else %}
        文章专区
        {% endif %}
      ' | safe }}</span>
  </h1>
  <ul class="article-list clearfix">
    {{ '\
    {% for i in objects %}\
    ' | safe }}
    <li>
      {{ '
      {% if column %}
      <a href="/{{tmpurl}}/{{i.id}}">
      {% else %}
      <a href="/{{tmpurl}}/{{ i.column_id }}/{{i.id}}">
      {% endif %}
      ' | safe }}
      {# <a href="{{ '/{{tmpurl}}/{{ i.column_id }}/{{i.id}}' }}"> #}
        <img src="{{ '{{ i.picurl }}' }}" />
        <div class="content">
          <h2>{{ '{{ i.title|slice:"20" }}' | safe }}</h2>
          <div class="meta">
            <time>{{ '{{ i.pub_date|date:"Y-m-d" }}' | safe }}</time>
            <span>阅读：{{ "{{ i.browser }}" }}</span>
          </div>
        </div>
      </a>
    </li>
    {{ '\
    {% endfor %}\
    ' | safe }}
  </ul>

  <ul class="article-pagination clearfix">
    {{ '\
      {% if objects.has_previous %}
      <li class="pagination-control prev"><a href="?page={{ objects.previous_page_number }}">&larr;上一页</a></li>
      {% else %}
      <li class="pagination-control prev disabled">&larr;上一页</li>
      {% endif %}

      <li class="pagination-list">
      {% for i in page_range %}
        {% ifequal i page_range.number %}
        <span>{{ i }}</span>
        {% else %}
        <a href="?page={{ i }}" title="第{{ i }}页">{{ i }}</a>
        {% endifequal %}
      {% endfor %}
      </li>

      {% if objects.has_next %}
      <li class="pagination-control next"><a href="?page={{ objects.next_page_number }}">下一页&rarr;</a></li>
      {% else %}
      <li class="pagination-control next disabled">下一页&rarr;</li>
      {% endif %}
      ' | safe }}
  </ul>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}
