{% set needSearchLinks = false %}
{% extends './components/layout.njk' %}
{% block title %}期刊列表{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/css/article.css">
<link rel="stylesheet" href="/static/css/magazine.css">
<link rel="stylesheet" href="/static/css/m.css">
{% endblock %}

{% block content %}
<div class="magazine-banner">
  <div class="banner-inner">
    <img src="/media/{{ '{{ info.pic }}' }}" alt="huizhang">
    <div class="detail">
      <h1>杂志简介</h1>
      <p>{{ '{{ info }}' }}</p>
    </div>
  </div>
</div>

<div class="magazine-container article-container">

  <h1 class="title">
    <span>杂志专区</span>
  </h1>
  <ul class="article-list clearfix">
    {{ '\
    {% for i in objects %}\
    ' | safe }}
    <li>
      {{ '
      <a href="/{{tmpurl}}/dongtai/{{i.id}}">
      ' | safe }}
        <img src="/media/{{ '{{ i.picurl }}' }}" />
        <div class="content">
          <h2>{{ '{{ i.title|slice:"20" }}' | safe }}</h2>
          <div class="meta">
            <time>{{ '{{ i.pub_date|date:"Y-m-d" }}' | safe }}</time>
            <span>阅读：{{ "{{ i.browser }}" }}</span>
          </div>
        </div>
      </a>
    </li>
    {{ '\
    {% endfor %}\
    ' | safe }}
  </ul>

  <ul class="article-pagination clearfix">
    {{ '\
      {% if objects.has_previous %}
      <li class="pagination-control prev"><a href="?page={{ objects.previous_page_number }}">&larr;上一页</a></li>
      {% else %}
      <li class="pagination-control prev disabled">&larr;上一页</li>
      {% endif %}

      <li class="pagination-list">
      {% for i in page_range %}
        {% ifequal i page_range.number %}
        <span>{{ i }}</span>
        {% else %}
        <a href="?page={{ i }}" title="第{{ i }}页">{{ i }}</a>
        {% endifequal %}
      {% endfor %}
      </li>

      {% if objects.has_next %}
      <li class="pagination-control next"><a href="?page={{ objects.next_page_number }}">下一页&rarr;</a></li>
      {% else %}
      <li class="pagination-control next disabled">下一页&rarr;</li>
      {% endif %}
      ' | safe }}
  </ul>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}
