{% set needSearchLinks = false %}
{% extends './components/layout.njk' %}
{% block title %}专家详情{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/css/expert.css">
{% endblock %}

{% block content %}
<div class="expert-navbar expert-navbar-detail clearfix">
  <a class="title" href="#">
    <i class="iconfont icon-list-ul"></i>
    <span>学术园地</span>
  </a>
  {% include "./components/navbar_list.njk" %}
</div>

<div class="expert-detail-banner" style="background-image: url('{{ "{{ article.midpic.url }}" }}')">
  <div class="mask"></div>
  <div class="inner">
    <div class="avatar">
      <img src="{{ "{{ article.smallpic.url }}" }}" alt="头像">
    </div>
    <div class="detail">
      <h2 class="name">{{ "{{ article.name }}" }}</h2>
      <p class="intro">{{ '{{ article.introduce|slice:"160"}}' | safe }}</p>
    </div>
    <div class="zan">
      <i class="iconfont icon-zan"></i>
      <div class="i">
        <span>{{ "{{article.zan}}" }}</span>个人赞
      </div>
    </div>
  </div>
</div>

<div class="expert-detail-content">
  <div class="inner">
    <div class="box">
      <h2>个人介绍</h2>
      <div class="person">
        <div class="avatar">
          <img src="{{ "{{ article.smallpic.url }}" }}" alt="头像">
        </div>
        <div class="detail">
          <h3 class="name">{{ "{{ article.name }}" }}</h3>
          <div class="department">{{ "{{ article.department }}" }}</div>
        </div>
      </div>
      <p>{{ "{{ article.introduce }}" }}</p>
    </div>
    <div class="box">
      <h2>技术特长</h2>
      <p>{{ "{{ article.specialty }}" }}</p>
    </div>
    <div class="box">
      <h2>编后语</h2>
      <p>{{ "{{ article.postscript }}" }}</p>
    </div>
    <div class="box">
      <h2>联系方式</h2>
      <div class="contact">
        <div class="img">
          <img src="{{ "{{ article.weixinpic.url }}" }}" alt="微信二维码">
          <div>
            微信二维码
          </div>
        </div>
        <div class="img">
          <img src="{{ "{{ article.weibopic.url }}" }}" alt="微博二维码">
          <div>
            微博二维码
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function () {
  $('.zan i').click(function () {
    $.ajax({
      url: "/expert/zan/",
      data: {
        url: window.location.pathname
      },
      success: function (ret) {
        if (ret.info === "success") {
          $('.zan .i span').text((+$('.zan .i span').text()) + 1);
        }
      },
    });
  });
});
</script>
{% endblock %}
