{% set needSearchLinks = false %}
{% set withoutFooter = true %}
{% set isLogin = true %}
{% extends './components/layout.njk' %}
{% block title %}个人收藏{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" href="/static/css/profile.css">
{% endblock %}

{% block content %}
{% include "./components/profile-banner.njk" %}

<div class="collection-content">
  <div class="inner">
    <div class="tabs">
      <a href="/userdata/show/" class="btn-1">医生</a>
      <a href="#" class="btn-2 active">收藏</a>
    </div>
    <ul class="clearfix">
      <li class="clearfix">
        <img src="/static/images/home_acticle.png" alt="article">
        <a class="detail">
          <h3>重磅！新版临床路径管理指导原则发布，和医</h3>
          <time>2017.10.13</time>
        </a>
      </li>
      <li class="clearfix">
        <img src="/static/images/home_acticle.png" alt="article">
        <a class="detail">
          <h3>重磅！新版临床路径管理指导原则发布，和医</h3>
          <time>2017.10.13</time>
        </a>
      </li>
      <li class="clearfix">
        <img src="/static/images/home_acticle.png" alt="article">
        <a class="detail">
          <h3>重磅！新版临床路径管理指导原则发布，和医</h3>
          <time>2017.10.13</time>
        </a>
      </li>
      <li class="clearfix">
        <img src="/static/images/home_acticle.png" alt="article">
        <a class="detail">
          <h3>重磅！新版临床路径管理指导原则发布，和医</h3>
          <time>2017.10.13</time>
        </a>
      </li>
      <li class="clearfix">
        <img src="/static/images/home_acticle.png" alt="article">
        <a class="detail">
          <h3>重磅！新版临床路径管理指导原则发布，和医</h3>
          <time>2017.10.13</time>
        </a>
      </li>
      <li class="clearfix">
        <img src="/static/images/home_acticle.png" alt="article">
        <a class="detail">
          <h3>重磅！新版临床路径管理指导原则发布，和医</h3>
          <time>2017.10.13</time>
        </a>
      </li>
      <li class="clearfix">
        <img src="/static/images/home_acticle.png" alt="article">
        <a class="detail">
          <h3>重磅！新版临床路径管理指导原则发布，和医</h3>
          <time>2017.10.13</time>
        </a>
      </li>
      <li class="clearfix">
        <img src="/static/images/home_acticle.png" alt="article">
        <a class="detail">
          <h3>重磅！新版临床路径管理指导原则发布，和医</h3>
          <time>2017.10.13</time>
        </a>
      </li>
      <li class="clearfix">
        <img src="/static/images/home_acticle.png" alt="article">
        <a class="detail">
          <h3>重磅！新版临床路径管理指导原则发布，和医</h3>
          <time>2017.10.13</time>
        </a>
      </li>
      <li class="clearfix">
        <img src="/static/images/home_acticle.png" alt="article">
        <a class="detail">
          <h3>重磅！新版临床路径管理指导原则发布，和医</h3>
          <time>2017.10.13</time>
        </a>
      </li>
      <li class="clearfix">
        <img src="/static/images/home_acticle.png" alt="article">
        <a class="detail">
          <h3>重磅！新版临床路径管理指导原则发布，和医</h3>
          <time>2017.10.13</time>
        </a>
      </li>
      <li class="clearfix">
        <img src="/static/images/home_acticle.png" alt="article">
        <a class="detail">
          <h3>重磅！新版临床路径管理指导原则发布，和医</h3>
          <time>2017.10.13</time>
        </a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}
