{% set needSearchLinks = true %}
{% extends './components/layout.njk' %}
{% block title %}忘记密码{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" href="/static/css/register.css">
{% endblock %}

{% block content %}
<div class="register-wrap">

  <div class="register-navbar clearfix">
    <a class="title" href="#">
      <i class="iconfont icon-list-ul"></i>
      <span>学术园地</span>
    </a>
    {% include "./components/navbar_list.njk" %}
  </div>

  <br>
  <br>
  <br>

  <form class="register-form" role="form" method="post" enctype="multipart/form-data" action="/userdata/sendpwdnum/">
    <div class="group clearfix group-telnum">
      <label>手机号</label>
      <input class='ipt-telnum' type="number" name="telnum" required>
      <span>发送验证码</span>
    </div>
    <div class="group clearfix group-checknum">
      <label>短信验证码</label>
      <input class='ipt-checknum' type="text" name="checknum" required>
    </div>
    <div class="error">{{ "{{ info }}" }}</div>
    <button type="submit">提交</button>
  </form>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function () {
  var sendFlag = false;
  $('.group-telnum span').click(function () {
    if (sendFlag) {
      return false;
    }
    var telnumValue = $('.group-telnum input').val();
    $.get('/userdata/send_num?telnum=' + telnumValue, function (res) {
      if (res.info == 'success') {
        $('.group-telnum span').text('已发送验证码');
        sendFlag = true;
      } else {
        alert(res.info);
      }
    });
  });

  $('.register-form button').click(function (e) {
    e.preventDefault();
    $('.register-form .error').text('');
    var telnum = $('.group-telnum input').val();
    var checknum = $('.group-checknum input').val();
    if (!telnum) {
      $('.register-form .error').text('输入手机号');
      return false;
    }
    if (!checknum) {
      $('.register-form .error').text('输入验证码');
      return false;
    }
    $.ajax({
      url: '/userdata/sendpwdnum/',
      type : "POST",
      data: $('.register-form').serialize(),
      success: function (res) {
        if (res.info == 'success') {
          window.location.href = "/userdata/resetpwd/";
          return false;
        }
        $('.register-form .error').text(res.info);
      },
      error: function () {
        $('.register-form .error').text(系统错误);
      }
    });
    return false;
  });
});
</script>
{% endblock %}
