{% set needSearchLinks = false %}
{% extends './components/layout.njk' %}
{% block title %}{{ "{{ article.title }}" | safe }}{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/css/article.css">
{% endblock %}

{% block content %}
<div class="article-detail-navbar">
  <div class="article-detail-navbar-inner">
    {% include "./components/navbar_list.njk" %}
  </div>
</div>

<div class="article-detail-crumbs">
  <a href="/">首页</a>
  <span>></span>
  <a href="/{{ '{{ belong.slug }}' | safe }}/{{ '{{ magazine.id }}' }}">{{ '{{ belong.name }}' | safe }}</a>
  <span>></span>
  <strong class="ad-title">
    {{ '{{ article.title }}' | safe }}
  </strong>
</div>

<div class="article-detail-container">
  {{ '
  {% autoescape off %}
  <h1>{{ article.title }}</h1>
  <div class="meta">
    <strong>{{ article.tag }}</strong>
    |
    <time>{{ article.pub_date|date:"Y-m-d" }}</time>
    |
    {% if collect %}
    <div id="btn-collect" data-title="{{ article.title }}" data-action="0">取消收藏</div>
    {% else %}
    <div id="btn-collect" data-title="{{ article.title }}" data-action="1">收藏</div>
    {% endif %}
    |
    <span>阅读：{{ article.browser }}</span>
    |
    <span>评分：{{ avgnum }}</span>
    |
    <span class="my-score">
      我的评分：
      {% if scorenum %}
      <div class="score-box" data-score="{{ scorenum }}">
      {% else %}
      <div class="score-box" data-score="no">
      {% endif %}
        <div class="score-star">
          <i class="star-1 icon-star iconfont"></i>
          <i class="star-2 icon-star iconfont"></i>
          <i class="star-3 icon-star iconfont"></i>
          <i class="star-4 icon-star iconfont"></i>
          <i class="star-5 icon-star iconfont"></i>
        </div>
        <div class="submit-score">提交</div>
      </div>
    </span>
  </div>

  <div class="content">{{ article.content }}</div>
  {% endautoescape %}
  ' | safe }}

  <div class="pages clearfix">
    <div class="page-left">
      <a href="{{ '/{{ belong.slug }}/{{ pre_article.magacolumn_id }}/{{ pre_article.column }}/{{ pre_article.id }}'}}">
        <i class="iconfont icon-l"></i>
        <div>
          <span>上一篇</span>
          <h6>{{ '{{ pre_article.title }}' }}</h6>
        </div>
      </a>
    </div>
    <div class="page-right">
      <a href="{{ '/{{ belong.slug }}/{{ next_article.magacolumn_id }}/{{ next_article.column }}/{{ next_article.id }}' }}">
        <div>
          <span>下一篇</span>
          <h6>{{ '{{ next_article.title }}' }}</h6>
        </div>
        <i class="iconfont icon-r"></i>
      </a>
    </div>
  </div>

  <div class="relation-box">
    <div class="title">
      <h2><span>猜您喜欢</span></h2>
    </div>
    <ul class="clearfix">
      {{ '
        {% for i in relate %}
        <li>
          <div class="inner">
            <img src="/media/{{ i.picurl }}" alt="1">
            <h3>{{ i.title }}</h3>
            <time>{{ i.pub_date|date:"Y-m-d" }}</time>
            {% autoescape off %}
            <div class="p" style="display: none;">
              <p>{{ i.content }}</p>
            </div>
            {% endautoescape %}
            <a href="/{{ belong.slug }}/{{ i.magacolumn_id }}/{{ i.column }}/{{ i.id }}">查看详情</a>
          </div>
        </li>
        {% endfor %}
      ' | safe }}
    </ul>
  </div>

  <div class="comment" id="SOHUCS"></div>

  <script src="//changyan.sohu.com/upload/changyan.js" ></script>
  <script type="text/javascript">
    window.changyan.api.config({
    appid: 'cyti4u9K7',
    conf: 'prod_534e7946cc8b7dc35348547356cc4e76'
    });
  </script>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $(function () {
    var dds = $('.relation-box li');
    for (var i = 0; i < dds.length; i++) {
      $(dds[i]).find('.inner div').text($(dds[i]).find('.inner div').text().slice(0, 60) + '...');
      $(dds[i]).find('.inner div').show();
    };
  });
</script>
{% endblock %}
