{% set needSearchLinks = false %}
{% extends './components/layout.njk' %}
{% block title %}视频列表{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/css/video.css">
<link rel="stylesheet" href="/static/css/m.css">
{% endblock %}

{% block content %}
<script type="text/javascript">
  window.isVideo = true;
</script>
<div class="video-container">
  <ul class="video-list clearfix">
    {{ '\
    {% for i in objects %}\
    ' | safe }}
    <li style="background-image: url('{{ '{{ i.smallpic }}' }}')">
      {{ '
      <a href="/video/{{ i.column_id }}/{{i.id}}">
      ' | safe }}
        <img src="{{ '{{ i.smallpic }}' }}" />
        <div class="content">
          <h2>{{ '{{ i.title|slice:"30" }}' | safe }}</h2>
          <div class="meta">
            <time>{{ '{{ i.pub_date|date:"Y-m-d" }}' | safe }}</time>
            <span>{{ "{{ i.expert }}" }}</span>
          </div>
          <p>{{ '{{ i.introduction|slice:"75" }}' | safe }}</p>
        </div>
      </a>
    </li>
    {{ '\
    {% endfor %}\
    ' | safe }}
  </ul>
</div>
<br>
<br>
<br>
{% endblock %}

{% block javascript %}
{% endblock %}
