{% set needSearchLinks = false %}
{% extends './components/layout.njk' %}
{% block title %}视频列表{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/css/video.css">
{% endblock %}

{% block content %}

{% endblock %}

{% block javascript %}
{% endblock %}
