.associntro-container {
  width: 1190px;
  max-width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 80px;
  .left-bar {
    width: 21.36%;
    float: left;
    background: #f7f7f7;
    text-align: center;
    font-size: 16px;
    color: #666666;
    li {
      line-height: 75px;
      border-top: 1px solid #eee;
      cursor: pointer;
      &.active {
        background: #377bef;
        color: #fff;
        span {
          display: inline;

        }
      }
      span {
        display: none;
      }
    }
    border-bottom: 1px solid #eee;
  }

  .right-content {
    .r-box-fzw, .r-box-hy {
      overflow: hidden;
    }
    .r-box-fzw .expert-detail-content, .r-box-hy .expert-detail-content {
      border-top: 0;
      width: auto;
      float: left;
      width: 33.333%;
      .box {
        padding-bottom: 12px;
        padding-right: 50px;
      }
    }
    float: left;
    margin-left: 52px;
    width: 72.13%;
    .r-box {
      display: none;
      border-top: 1px solid #eee;
      h5 {
        font-size: 18px;
        color: #333;
        margin-bottom: 20px;
        margin-top: 20px;
      }
      p {
        font-size: 14px;
        color: #666;
        line-height: 1.4;
      }
    }

    .r-box-dt {
      display: block;
    }
    .huihui {
      width: 100px;
      height: 100px;
      // margin: 0 auto;
      border-radius: 100px;
      margin-top: 40px;
    }
    .contact {
      .img {
        display: inline-block;
        margin-right: 81px;
        width: 96px;
        img {
          width: 100%;
          height: 96px;
        }
        div {
          font-size: 14px;
          color: #333333;
          margin: 20px 0;
          text-align: center;
        }
      }
      a {
        display: block;
        line-height: 3;
        cursor: #377bef;
      }
    }
  }
}

.article-list {
  max-width: 100%;
  margin: 0 auto;
  li {
    width: 50%;
    float: left;
    margin-top: 30px;
    padding-right: 50px;
    img {
      width: 38.5%;
      float: left;
      background: #ccc;
    }
    .content {
      width: 61.5%;
      float: left;
      padding-left: 12px;
      h2 {
        color: #333333;
        font-size: 18px;
        line-height: 1.4;
        font-weight: bold;
        min-height: 50px;
        position: relative;
        margin-top: 6px;
        padding-left: 8px;
        &::before {
          content: ' ';
          display: block;
          position: absolute;
          left: 0;
          top: 4px;
          height: 14px;
          width: 2px;
          background: #66caf7;
        }
      }
      .meta {
        padding-left: 10px;
        font-size: 13px;
        color: #9a9a9a;
        margin-top: 16px;
      }
    }
  }
}


.show-all {
  color: #666;
  font-size: 16px;
  padding: 20px 0;
  padding-right: 120px;
  text-align: right;
  margin-top: 40px;
}
