.navbar-wrap,
.section-intro,
.section-vision,
.section-professor,
.section-mix
 {
  margin: 0 auto;
  width: 1190px;
  max-width: 100%;
  padding: 0 10px;
}

/**/

.navbar-wrap {
  position: relative;
  padding-left: 200px;
  .title {
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    background: #226bcf;
    i {
      display: inline;
      margin: 0 10px 0 12px;
    }
  }
  .box-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    color: #fff;
    background: #396ef2;
    .section-item {
      padding: 24px 0;
      border-bottom: 2px solid #4174f3;
      .section-title {
        font-size: 16px;
        i {
          display: inline;
          margin: 0 4px 0 10px;
        }
      }
      ul {
        padding: 0 0 0 36px;
        font-size: 14px;
        li {
          float: left;
          margin: 1em .6em 0 0;
        }
      }
    }
  }
  .box-right {
    width: 100%;
  }

  .carousel-out {
    height: 400px;
    padding: 10px 0 0 10px;
  }
}


.section-header {
  padding-top: 62px;
  text-align: center;
  .section-header-title {
    font-size: 24px;
    margin-bottom: 22px;
    line-height: 1.4;
    color: #333;
  }
  .section-header-sub {
    line-height: 30px;
    font-size: 12px;
    color: #ccc;
    text-transform: uppercase;
  }
  .section-header-title i {
    position: relative;
    color: #f24a4c;
    font-weight: bold;
    font-weight: 18px;
    top: -2px;
    margin: 0 10px;
  }
  .section-header-intro {
    font-size: 16px;
    line-height: 1.6;
    color: #999;
  }
}


.section-intro {
  .list {
    padding: 0 55px;
    margin-top: 57px;
    padding-bottom: 100px;
    li {
      float: left;
      width: 33.333%;
      padding: 0 57px;
      img {
        width: 70%;
        margin: 0 auto;
      }
      p {
        margin-top: 24px;
        font-size: 14px;
        line-height: 1.6;
        color: #9a9a9a;
      }
    }
  }
}

.section-vision-wrap {
  background-position: top center;
  background-size: cover;
  .inner {
    padding-bottom: 114px;
    img {
      position: relative;
      margin: 0 auto;
      width: 80%;
      right: 1.1%;
      margin-top: 60px;
    }
  }
}


.section-professor {
  margin-bottom: 60px;
  .inner {
    margin-bottom: 50px;
    padding: 0 90px;
    position: relative;
    margin-top: 20px;
  }
  li {
    float: left;
  }
  .carousel-control-prev,
  .carousel-control-next {
    top: 50px;
  }
  .carousel-control-prev {
    left: 22px;
  }
  .carousel-control-next {
    right: 22px;
  }
  .carousel-pagination {
    position: static;
    margin: 44px 0;
  }
  .item {
    width: 16.666%;
    float: left;
    padding: 0 2.2%;
    text-align: center;
    img {
      margin: 0 auto;
      width: 80%;
      border-radius: 500px;
    }
    h4 {
      color: #333;
      font-size: 16px;
      margin: 10px 0;
    }
    h5 {
      font-size: 12px;
      color: #999;
    }
  }
  .link {
    width: 120px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 3px;
    background: #377bef;
    color: #fff;
    font-size: 14px;
    display: block;
    margin: 0 auto;
  }
}


.section-mix {
  margin-bottom: 160px;
  .mix-title {
    height: 42px;
    line-height: 42px;
    border-bottom: 2px solid #eaeaea;
    span {
      font-size: 20px;
      color: #000;
      display: inline-block;
      position: relative;
      bottom: 2px;
      border-bottom: 2px solid #377bef;
      padding-right: 4px;
    }
    a {
      float: right;
      font-size: 14px;
      color: #999;
    }
  }
  .box-meeting {
    float: left;
    width: 16.24%;
    padding-right: 32px;
    li {
      padding: 25px 0 16px 0;
    }
    li h3 {
      font-size: 16px;
      line-height: 1.5;
      color: #000;
      font-family: "SimHei";
      letter-spacing: -1px;
    }
    li p {
      margin-top: 10px;
      font-size: 14px;
      color: #9a9a9a;
      line-height: 1.5;
    }
    li h4 {
      font-size: 14px;
      color: #666;
      margin: 12px 0 6px 0;
    }
    li time {
      color: #9a9a9a;
      font-size: 13px;
    }
  }
  .box-consult {
    float: left;
    width: 51.28%;
    padding-right: 38px;
    ul {
      li {
        padding-top: 30px;
        img {
          float: left;
          width: 47%;
        }
        .img {
          float: left;
          display: block;
          width: 47%;
          padding-bottom: 28.2%;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: center;
        }
      }
    }
    .detail {
      float: left;
      width: 53%;
      padding-left: 30px;
      h3 {
        position: relative;
        font-size: 18px;
        color: #333;
        line-height: 1.45;
        padding-left: 8px;
      }
      h3:before {
        display: block;
        content: ' ';
        position: absolute;
        width: 2px;
        height: 18px;
        background: #377bef;
        left: 0;
        top: 4px;
      }
    }
    .meta {
      margin: 10px 0 8px 0;
    }
    .tag {
      display: inline-block;
      background: #377bef;
      height: 18px;
      line-height: 18px;
      padding: 0 4px;
      font-size: 12px;
      color: #fff;
      margin-right: 10px;
    }
    .meta time{
      color: #9a9a9a;
      font-size: 12.5px;
    }
    .detail p {
      font-size: 14px;
      color: #9a9a9a;
      line-height: 1.5;
    }
    .detail a {
      display: inline-block;
      text-decoration: underline;
      font-size: 12px;
      color: #333;
      margin-top: 17px;
    }
  }
  .box-article {
    float: left;
    width: 32.48%;
    ul {
      border: 1px solid #eee;
      border-top: 0;
      padding: 0 16px 20px 20px;
      li {
        padding-top: 30px;
        img {
          float: left;
          width: 35.8%;
        }
        .img {
          float: left;
          display: block;
          width: 35.8%;
          padding-bottom: 25.06%;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: center;
        }
      }
    }
    .detail {
      float: left;
      width: 64.2%;
      padding-left: 14px;
      h3 {
        position: relative;
        min-height: 60px;
        color: #333;
        font-size: 18px;
        line-height: 1.3;
        padding-left: 8px;
      }
      h3::before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 4px;
        height: 14px;
        width: 2px;
        background: #66caf7;
      }
      time {
        color: #9a9a9a;
        font-size: 13px;
        display: block;
        padding-left: 8px;
      }
    }
  }
}
