.video-container {
  .video-navbar {
    margin: 0 auto;
    max-width: 100%;
    width: 1170px;
    height: 52px;
    line-height: 50px;
    border: 1px solid #eee;
    border-left: 0;
    border-right: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    li {
      float: left;
      // margin-right: 34px;
      color: #333;
      font-size: 16px;
      a {
        display: block;
        padding: 0 2em;
        &.active {
          background: #377bef;
          // font-weight: bold;
          color: #fff;
        }
        &:hover {
          color: #333;
          font-weight: bold;
        }
      }
      &.title {
        color: #377bef;
      }
    }
  }

  .filter-box {
    margin: 0 auto;
    width: 1190px;
    max-width: 100%;
    padding: 0 10px;
    .filter-item {
      border-bottom: 1px solid #eee;
      padding: 13px 0 0 0;
      line-height: 28px;
      position: relative;
      padding-left: 92px;
      label {
        position: absolute;
        left: 0;
        top: 13px;
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        color: #333333;
        margin-right: 50px;
        margin-bottom: 13px;
      }
      ul {
        display: inline-block;
        li {
          margin-bottom: 13px;
          cursor: pointer;
          display: inline-block;
          margin-right: 20px;
          font-size: 14px;
          color: #666666;
          padding: 0 10px;
          border-radius: 3px;
          a {
            display: block;
            width: 100%;
            height: 100%;
          }
          &.active {
            background: #377bef;
            color: #fff;
          }
        }
      }
    }
  }

  .video-list {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    li {
      float: left;
      width: 33.333%;
      padding: 0 15px;
      margin-bottom: 100px;
      position: relative;
      padding-bottom: 21.5%;
      background-size: 91% 100%;
      margin-bottom: 170px;
      background-repeat: no-repeat;
      background-position: center;
      img {
        width: 100%;
        display: none;
      }
      a {
        display: block;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 4.5%;
        right: 4.5%;
      }
      .content {
        position: absolute;
        top: 100%;
        h2 {
          font-size: 24px;
          color: #333333;
          line-height: 1.2;
          position: relative;
          padding-left: 10px;
          margin-top: 20px;
          &:after {
            content: ' ';
            display: block;
            position: absolute;
            height: 20px;
            width: 3px;
            background: #387bef;
            left: 2px;
            top: 4px;
          }
        }
        .meta {
          color: #999999;
          font-size: 14px;
          margin: 15px 0;
          time {
            display: inline-block;
            margin-right: .8em;
          }
        }
        p {
          font-size: 14px;
          color: #9a9a9a;
          line-height: 1.35;
        }
      }
    }
  }
  .article-pagination {
    margin-top: 40px;
  }
}


.article-detail-container {
  .meta {
    span {
      display: inline-block;
      margin-right: 22px;
    }
    .avgnum {
      display: inline;
      color: #377bef;
    }
  }
}



.video-album-title {
  max-width: 100%;
  width: 1170px;
  margin: 0 auto;
  border-bottom: 2px solid #ccc;
  line-height: 1.4;
  margin-top: 45px;
  span {
    border-bottom: 2px solid #3a7def;
    color: #333;
    font-size: 24px;
    display: inline-block;
    position: relative;
    top: 2px;
  }
}

.album-list {
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  li {
    width: 33.333%;
    padding: 0 15px;
    float: left;
    margin-bottom: 50px;
    position: relative;
    padding-bottom: 30.34%;
    background-size: 91% 100%;
    margin-bottom: 80px;
    background-repeat: no-repeat;
    background-position: center;
    img {
      width: 100%;
      display: none;
    }
    a {
      display: block;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 4.5%;
      right: 4.5%;
    }
    .content {
      position: absolute;
      top: 100%;
    }
    h2 {
      font-size: 24px;
      color: #333333;
      line-height: 1.2;
      position: relative;
      padding-left: 10px;
      margin-top: 20px;
      line-height: 1.4;
      min-height: 66px;
      &:after {
        content: ' ';
        display: block;
        position: absolute;
        height: 20px;
        width: 3px;
        background: #387bef;
        left: 2px;
        top: 4px;
      }
    }
  }
}


.albun-banner {
  width: 100%;
  height: 300px;
  background: #343d55;
  .inner {
    max-width: 100%;
    width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
  }
  .left {
    float: left;
    width: 73%;
    h1 {
      padding-top: 77px;
      font-size: 30px;
      line-height: 1.4;
      color: #fff;
    }
    p {
      margin-top: 14px;
      color: #fff;
      line-height: 1.34;
      font-size: 16px;
    }
  }
  .right {
    float: right;
    background: #fff;
    width: 242px;
    height: 100px;
    margin-top: 100px;
    text-align: center;
    border-radius: 5px;
    div {
      float: left;
      width: 50%;
      padding-top: 21px;
      span {
        display: block;
        font-size: 24px;
        color: #666666;
        margin-bottom: 7px;
      }
      h3 {
        font-size: 14px;
        color: #999999;
      }
    }
    .b-num {
      position: relative;
      span {
        color: #377bef;
      }
      &:after {
        content: ' ';
        display: block;
        position: absolute;
        width: 1px;
        background: #eee;
        height: 70%;
        right: 0;
        top: 20px;
      }
    }
  }
}
