<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>专家详情</title>
  <link rel="stylesheet" href="//at.alicdn.com/t/font_456673_vj8o96w7vmml5wmi.css">
  <link rel="stylesheet" href="/static/css/base.css">
  
<link rel="stylesheet" href="/static/css/expert.css">

  <link rel="stylesheet" href="/static/css/m.css">
</head>
<body>

<header class="header-wrap">
  <a class="logo" href="/">
    <img src="/static/images/logo.png" alt="LOGO">
  </a>
  <div class="search">
    <form>
      <input type="text">
      <button>
        <i class="iconfont icon-search"></i>
      </button>
    </form>
    
  </div>
  <div class="profile">
    <button class="btn-login" id="btn_login">请登录</button>
    <button>
      <a href="/userdata/register/">免费注册</a>
    </button>
  </div>
</header>


<div class="expert-navbar expert-navbar-detail clearfix">
  <a class="title" href="#">
    <i class="iconfont icon-list-ul"></i>
    <span>学术园地</span>
  </a>
  <ul class="navbar-list clearfix">
  <li>
    <a href="/column"><span>资讯</span><i class="iconfont icon-add"></i></a>
  </li>
  <li>
    <a href="/association"><span>学会</span><i class="iconfont icon-add"></i></a>
  </li>
  <li>
    <a href="/expert"><span>专家</span><i class="iconfont icon-add"></i></a>
  </li>
  <li class="video-hide">
    <a href="/video"><span>视频</span></a>
  </li>
  <li>
    <a href="/subject"><span>学科</span></a>
  </li>
  <li>
    <a href="/meeting"><span>会议</span></a>
  </li>
  <li>
    <a href="/magazine"><span>期刊</span></a>
  </li>
  <li>
    <a href="/nursing"><span>护理园地</span></a>
  </li>
  <li>
    <a href="/sruco"><span>SRUCO</span></a>
  </li>
  <li>
    <a href="/guide"><span>指南</span></a>
  </li>
  <li>
    <a href="/universal"><span>科普园地</span></a>
  </li>
  <li>
    <a href="/recommend"><span>药械推荐</span></a>
  </li>
</ul>

</div>

<div class="expert-detail-banner" style="background-image: url('{{ article.midpic.url }}')">
  <div class="mask"></div>
  <div class="inner">
    <div class="avatar">
      <img src="{{ article.smallpic.url }}" alt="头像">
    </div>
    <div class="detail">
      <h2 class="name">{{ article.name }}</h2>
      <p class="intro">{{ article.introduce|slice:"160"" }}</p>
    </div>
    <div class="zan">
      <i class="iconfont icon-zan"></i>
      <div class="i">
        <span>{{article.zan}}</span>个人赞
      </div>
    </div>
  </div>
</div>

<div class="expert-detail-content">
  <div class="inner">
    <div class="box">
      <h2>个人介绍</h2>
      <div class="person">
        <div class="avatar">
          <img src="{{ article.smallpic.url }}" alt="头像">
        </div>
        <div class="detail">
          <h3 class="name">{{ article.name }}</h3>
          <div class="department">{{ article.department }}</div>
        </div>
      </div>
      <p>{{ article.introduce }}</p>
    </div>
    <div class="box">
      <h2>技术特长</h2>
      <p>{{ article.specialty }}</p>
    </div>
    <div class="box">
      <h2>编后语</h2>
      <p>{{ article.postscript }}</p>
    </div>
    <div class="box">
      <h2>联系方式</h2>
      <div class="contact">
        <div class="img">
          <img src="{{ article.weixinpic.url }}" alt="微信二维码">
          <div>
            微信二维码
          </div>
        </div>
        <div class="img">
          <img src="{{ article.weibopic.url }}" alt="微博二维码">
          <div>
            微博二维码
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="footer-wrap">
  <div class="inner">
    <div class="footer-header">
      CUG 大家泌尿
    </div>
    <div class="box-wrap clearfix">
      <div class="box box-1">
        <h3>
          友情链接
        </h3>
        <div class="links clearfix">
          <ul class="link-list">
            <li><a href="#">杏树林</a></li>
            <li><a href="#">生育健康网</a></li>
            <li><a href="#">爱维医学网</a></li>
            <li><a href="#">寻医问药网</a></li>
            <li><a href="#">华夏病理网</a></li>
            <li><a href="#">白衣天使基金</a></li>
            <li><a href="#">互联网医院</a></li>
            <li><a href="#">丁香园医生网</a></li>
            <li><a href="#">梅斯MedSci</a></li>
            <li><a href="#">中华康网</a></li>
          </ul>
        </div>
      </div>
      <div class="box box-2">
        <h3>
          合作单位
        </h3>
        <div class="links clearfix">
          <ul class="link-list">
            <li><a href="#">北京协和医院</a></li>
            <li><a href="#">中华泌尿杂志</a></li>
            <li><a href="#">中国医师协会</a></li>
            <li><a href="#">健康报网</a></li>
            <li><a href="#">OBGYN.net</a></li>
            <li><a href="#">中华杂志</a></li>
            <li><a href="#">搜狐健康频道</a></li>
            <li><a href="#">丁香园妇</a></li>
            <li><a href="#">现代进展健康报</a></li>
            <li><a href="#">中国健康杂志</a></li>
          </ul>
        </div>
      </div>
      <div class="box box-3">
        <h3>
          其他
        </h3>
        <div class="links clearfix">
          <ul class="link-list">
            <li><a href="#">设为首页</a></li>
            <li><a href="#">加入收藏</a></li>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">广告合作</a></li>
            <li><a href="#">求职招聘</a></li>
          </ul>
        </div>
      </div>
      <div class="box box-4">
        <h3>
          联系我们
        </h3>
        <div class="links clearfix">
          <ul class="link-list">
            <li>编辑部电话：029-88888888</li>
            <br>
            <br>
            <br>
            <br>
          </ul>
        </div>
      </div>
      <div class="box box-5">
        <h3>
          投稿邮箱
        </h3>
        <div class="links clearfix">
          <ul class="link-list">
            <li>邮箱地址：ztougao@cug.top</li>
            
            <li>
              <form>
                <input type="email" placeholder="输入您的邮箱地址......">
                <button>
                  <i class="iconfont icon-email"></i>
                </button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright © 2017y</p>
      <p>
        本站所刊载的所有内容版权归大家泌尿网所有，未经授权不得转载。除非特别声明，本站刊出的所
        <br>
        有文章、视频等内容系大家泌尿网据原作者相关内容生成，不代表大家泌尿网的观点和立场。
      </p>
    </div>
  </div>
</footer>


<div class="modal-vodeo">
  <div class="inner">
    <p>抱歉，您无权访问视频</p>
    <a href="/">返回首页</a>
  </div>
</div>


<div class="modal-login">
  <div class="mask"></div>
  <div class="inner" style="background-image: url('/static/images/modal_logo_bg.png')">
    <form action="/userdata/login/" method="post">
      <img src="/static/images/logo.png" alt="LOGO">
      <input class="ipt-telnum" type="text" name="telnum" placeholder="输入手机号" required>
      <input class="ipt-password" type="password" name="password" placeholder="输入密码" required>
      <div class="error"></div>
      <button type="submit">登录</button>
      <div class="login-links">
        <a href="/userdata/register/">立即注册</a>
        <a href="/userdata/sendpwdnum/">忘记密码</a>
      </div>
    </form>
    <div class="login-close">
      <i class="iconfont icon-close"></i>
    </div>
  </div>
</div>

<script src='/static/js/modernizr.js'></script>
<script src='/static/js/jquery.min.js'></script>
<script src='/static/js/jquery.jcarousel.min.js'></script>
<script src='/static/js/index.js'></script>

<script type="text/javascript">
$(function () {
  $('.zan i').click(function () {
    $.ajax({
      url: "/expert/zan/",
      data: {
        url: window.location.pathname
      },
      success: function (ret) {
        if (ret.info === "success") {
          $('.zan .i span').text((+$('.zan .i span').text()) + 1);
        }
      },
    });
  });
});
</script>


</body>
</html>
