<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>个人收藏</title>
  <link rel="stylesheet" href="//at.alicdn.com/t/font_456673_vj8o96w7vmml5wmi.css">
  <link rel="stylesheet" href="/static/css/base.css">
  
  <link rel="stylesheet" href="/static/css/profile.css">

  <link rel="stylesheet" href="/static/css/m.css">
</head>
<body>

<header class="header-wrap">
  <a class="logo" href="/">
    <img src="/static/images/logo.png" alt="LOGO">
  </a>
  <div class="search">
    <form>
      <input type="text">
      <button>
        <i class="iconfont icon-search"></i>
      </button>
    </form>
    
  </div>
  <div class="profile">
    <button class="btn-login" id="btn_login">请登录</button>
    <button>
      <a href="/userdata/register/">免费注册</a>
    </button>
  </div>
</header>


<div class="profile-banner" style="background-image: url('/static/images/connection_banner.png');">
  <div class="inner clearfix">
    <div class="box-profile clearfix">
      <div class="avatar">
        <img src="{{ userinfo.headimg }}" alt="AVATAR">
      </div>
      <div class="detail">
        <div class="name">{{ userinfo.username }}</div>
        <div class="title">
          <div class="main">{{ userinfo.hospital }} {{ userinfo.title }}</div>
        </div>
      </div>
    </div>
    <div class="box-integral">
      <i class="iconfont icon-jifen"></i>
      <span>{{ userinfo.integralnum }}积分</span>
    </div>
  </div>
</div>


<div class="collection-content">
  <div class="inner">
    <div class="tabs">
      <a href="/userdata/show/" class="btn-1">医生</a>
      <a href="#" class="btn-2 active">收藏</a>
    </div>
    <ul class="clearfix">
      
      {% for i in objects  %}
      <li class="clearfix">
        <a class="detail" href="{{ i.url }}">
          <h3>{{ i.title }}</h3>
        </a>
      </li>
      {% endfor %}
      
    </ul>
  </div>
</div>

<ul class="article-pagination clearfix">
  
    {% if objects.has_previous %}
    <li class="pagination-control prev"><a href="?page={{ objects.previous_page_number }}">&larr;上一页</a></li>
    {% else %}
    <li class="pagination-control prev disabled">&larr;上一页</li>
    {% endif %}

    <li class="pagination-list">
    {% for i in page_range %}
      {% ifequal i page_range.number %}
      <span>{{ i }}</span>
      {% else %}
      <a href="?page={{ i }}" title="第{{ i }}页">{{ i }}</a>
      {% endifequal %}
    {% endfor %}
    </li>

    {% if objects.has_next %}
    <li class="pagination-control next"><a href="?page={{ objects.next_page_number }}">下一页&rarr;</a></li>
    {% else %}
    <li class="pagination-control next disabled">下一页&rarr;</li>
    {% endif %}
    
</ul>


<div class="modal-login">
  <div class="mask"></div>
  <div class="inner" style="background-image: url('/static/images/modal_logo_bg.png')">
    <form action="/userdata/login/" method="post">
      <img src="/static/images/logo.png" alt="LOGO">
      <input class="ipt-telnum" type="text" name="telnum" placeholder="输入手机号" required>
      <input class="ipt-password" type="password" name="password" placeholder="输入密码" required>
      <div class="error"></div>
      <button type="submit">登录</button>
      <div class="login-links">
        <a href="/userdata/register/">立即注册</a>
        <a href="/userdata/sendpwdnum/">忘记密码</a>
      </div>
    </form>
    <div class="login-close">
      <i class="iconfont icon-close"></i>
    </div>
  </div>
</div>

<script src='/static/js/modernizr.js'></script>
<script src='/static/js/jquery.min.js'></script>
<script src='/static/js/jquery.jcarousel.min.js'></script>
<script src='/static/js/index.js'></script>



</body>
</html>
