<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>首页</title>
  <link rel="stylesheet" href="//at.alicdn.com/t/font_456673_ps5tx1p6bf6tuik9.css">
  <link rel="stylesheet" href="/static/css/base.css">
  
  <link rel="stylesheet" href="/static/css/index.css">

</head>
<body>

<header class="header-wrap">
  <a class="logo" href="/">
    <img src="/static/images/logo.png" alt="LOGO">
  </a>
  <div class="search">
    <form action="/search/" method="get">
      <input type="text" name="value" value="">
      <input class="hidden-ipt"  type="text" name="type" value="article">
      <div class="select-box">
        <div class="select-value">
          <span>文章</span>
          <i class="iconfont icon-down"></i>
        </div>
        <ul>
          <li data-value="article">文章</li>
          <li data-value="video">视频</li>
          <li data-value="expert">专家</li>
        </ul>
      </div>
      <button type="submit" class="search-btn">
        <i class="iconfont icon-search"></i>
      </button>
    </form>
    
    <ul>
      <li><a href="/">泌尿肿瘤</a></li>
      <li><a href="/">尿石症</a></li>
    </ul>
    
  </div>
  <div class="profile">
    <button class="btn-login" id="btn_login">请登录</button>
    <button>
      <a href="/userdata/register/">免费注册</a>
    </button>
  </div>
</header>


<nav class="navbar-wrap clearfix">
  <div class="box-left">
    <h2 class="title">
      <i class="iconfont icon-list-ul"></i>
      <span>学术园地</span>
    </h2>
    <ul class="section-list">
      
      <li class="section-item video-hide">
        <h3 class="section-title">
          <i class="iconfont icon-video-camera"></i>
          <span>视频</span>
        </h3>
        <ul class="clearfix">
          
          {% for i in video_list %}
          <li>
            <a href="/video/{{ i.slug }}">{{ i.name }}</a>
          </li>
          {% endfor %}
          
        </ul>
      </li>
    </ul>
  </div>

  <div class="box-right">
    <ul class="navbar-list clearfix">
  <li>
    <a href="/column"><span>资讯</span><i class="iconfont icon-add"></i></a>
  </li>
  <li>
    <a class="nav-has-children">
      <span>学会</span><i class="iconfont icon-add"></i>
    </a>
    <div class="nav-children">
      <a href="/association/baojian">中国医疗保健国际交流促进会</a>
      <a href="/association/miniao">中国研究型医院学会泌尿外科分会</a>
    </div>
  </li>
  <li>
    <a href="/expert"><span>专家</span><i class="iconfont icon-add"></i></a>
  </li>
  <li class="video-hide">
    <a href="/video"><span>视频</span></a>
  </li>
  <li>
    <a href="/subject"><span>学科</span></a>
  </li>
  <li>
    <a href="/meeting"><span>会议</span></a>
  </li>
  <li>
    <a>
      <span>期刊</span>
    </a>
    <div class="nav-children">
      <a href="/magazine/xiandai">现代泌尿外科杂志</a>
      <a href="/magazine/dianzi">泌尿外科杂志电子版</a>
      <a href="/magazine/weichuang">微创泌尿外科杂志社</a>
    </div>
  </li>
  <li>
    <a href="/nursing"><span>护理园地</span></a>
  </li>
  <li>
    <a href="/sruco"><span>SRUCO</span></a>
  </li>
  <li>
    <a href="/guide"><span>指南</span></a>
  </li>
  <li>
    <a href="/universal"><span>科普园地</span></a>
  </li>
  <li>
    <a href="/recommend"><span>药械推荐</span></a>
  </li>
</ul>

    <div class="carousel-out">
      <div class="carousel-wrap">
        <ul class="carousel-inner clearfix" data-jcarousel="true">
          
          {% for item in lunboinfo %}
          <li>
            <img src="/media/{{ item.lunbopic }}" alt="slider">
          </li>
          {% endfor %}
          
        </ul>
        <span class="carousel-control-prev" data-jcarouselcontrol="true">
          <i class="iconfont icon-left"></i>
        </span>
        <span class="carousel-control-next" data-jcarouselcontrol="true">
          <i class="iconfont icon-right"></i>
        </span>
        <p class="carousel-pagination" data-jcarouselpagination="true"></p>
      </div>
    </div>
  </div>
</nav>

<div class="section-intro">
  <div class="section-header">
    <div class="section-header-sub">Introduction</div>
    <h2 class="section-header-title">
      <i class="iconfont icon-add"></i>
      <span>支持单位简介</span>
      <i class="iconfont icon-add"></i>
    </h2>
    <p class="section-header-intro">
    </p>
  </div>

  <div class="inner">
    <ul class="list clearfix">
      <li>
        <img src="/static/images/home_intro_1.png" alt="1">
        <p>大家泌尿网成立于2017年8月23日，由全国知名泌外专家发起，致力于打造泌尿外科医生大家庭，给老百姓提供准确可靠的医学科普信息。</p>
      </li>
      <li>
        <a href="/association/baojian/">
          <img src="/static/images/home_intro_2.png" alt="2">
          <p>中国医疗保健国际交流促进会泌尿健康促进分会成立于2017年8月26日，西安交大一附院泌尿外科贺大林教授为分会首届主任委员。分会总工作方针为践行“总会精神，配合华佗工程，面向基层医生，惠及普通百姓”。</p>
        </a>
      </li>
      <li>
        <a href="/association/miniao/">
          <img src="/static/images/home_intro_3.png" alt="3">
          <p>中国研究型医院学会泌尿外科分会成立于2016年3月27日。分会致力于我国泌尿外科的学科建设、循证医学、研究思维、临床转化方面的创新、交流和发展。</p>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="section-vision-wrap" style="background-image: url('/static/images/home_vision_bg.png')">
  <div class="section-vision">
    <div class="section-header">
      <div class="section-header-sub">Introduction</div>
      <h2 class="section-header-title">
        <i class="iconfont icon-add"></i>
        <span>我们的愿景</span>
        <i class="iconfont icon-add"></i>
      </h2>
      <p class="section-header-intro">
      </p>
    </div>

    <div class="inner">
      <img src="/static/images/home_vision.png" alt="vision">
    </div>
  </div>
</div>

<div class="section-professor">
  <div class="section-header">
    <div class="section-header-sub">Introduction</div>
    <h2 class="section-header-title">
      <i class="iconfont icon-add"></i>
      <span>专家介绍</span>
      <i class="iconfont icon-add"></i>
    </h2>
    <p class="section-header-intro">
      <br>
    </p>
  </div>
  <div class="inner">
    <div class="carousel-wrap">
      <ul class="carousel-inner clearfix" data-jcarousel="true">
        <li class="clearfix">
          {% for item in expertinfo %}
          <div class="item">
            <a href="/expert/zhuanjia/{{ item.id }}">
              <img src="/media/{{ item.smallpic }}" alt="p">
              <h4>{{ item.name }} <span>  </span>  {{ item.ranks }}</h4>
              <h5>{{ item.hospital }}{{ item.department }}</h5>
            </a>
          </div>
          
          {% ifequal forloop.counter 6 %}
          </li>
          <li class="clearfix">
          {% endifequal %}

          {% ifequal forloop.counter 12 %}
          </li>
          <li class="clearfix">
          {% endifequal %}
          
          
          {% endfor %}
        </li>
      </ul>
    </div>
    <span class="carousel-control-prev" data-jcarouselcontrol="true">
      <i class="iconfont icon-left"></i>
    </span>
    <span class="carousel-control-next" data-jcarouselcontrol="true">
      <i class="iconfont icon-right"></i>
    </span>
    <p class="carousel-pagination" data-jcarouselpagination="true"></p>
    <a href="/expert" class="link">查看全部专家</a>
  </div>
</div>

<div class="section-mix clearfix">
  <div class="box-meeting">
    <div class="mix-title">
      <span>会议预告</span>
      <a href="/meeting">更多>></a>
    </div>
    <ul>
      {% for i in yugaoinfo %}
      <li>
        <a href="/meeting/{{ i.column_id }}/{{ i.id }}">
          <h3>{{ i.title }}</h3>
          <div class="ppp" style="display: none;">
            <p>
            
            {% autoescape off %}
            {{ i.content }}
            {% endautoescape %}
            </p>
          </div>
          <h4>会议时间</h4>
          <time>{{ i.pub_date|date:"Y-m-d" }}</time>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="box-consult">
    <div class="mix-title">
      <span>最新资讯</span>
      <a href="/column">更多>></a>
    </div>
    <ul>
      {% for i in zixuninfo %}
      <li class="clearfix">
        <img src="{{ i.picurl }}" alt="consult">
        <div class="detail">
          <h3>{{ i.title }}</h3>
          <div class="meta clearfix">
            <time>2017.10.17</time>
          </div>
          <div class="ppp" style="display: none;">
            <p>
            
            {% autoescape off %}
            {{ i.content }}
            {% endautoescape %}
            </p>
          </div>
          <a href="/column/{{ i.column_id }}/{{ i.id }}">查看详情</a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="box-article">
    <div class="mix-title">
      <span>视频</span>
      <a href="/video">更多>></a>
    </div>
    <ul>
      {% for i in shipininfo %}
      <li class="clearfix">
        <img src="/media/{{ i.smallpic }}" alt="article">
        <a class="detail" href="/video/{{ i.column_id }}/{{ i.id }}">
          <h3>{{ i.title }}</h3>
          <time>{{ i.pub_date|date:"Y-m-d" }}</time>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>


<footer class="footer-wrap">
  <div class="inner">
    <div class="footer-header">
      CUG 大家泌尿
    </div>
    <div class="box-wrap clearfix">
      <div class="box box-1">
        <h3>
          友情链接
        </h3>
        <div class="links clearfix">
          <ul class="link-list">
            <li><a href="#">杏树林</a></li>
            <li><a href="#">生育健康网</a></li>
            <li><a href="#">爱维医学网</a></li>
            <li><a href="#">寻医问药网</a></li>
            <li><a href="#">华夏病理网</a></li>
            <li><a href="#">白衣天使基金</a></li>
            <li><a href="#">互联网医院</a></li>
            <li><a href="#">丁香园医生网</a></li>
            <li><a href="#">梅斯MedSci</a></li>
            <li><a href="#">中华康网</a></li>
          </ul>
        </div>
      </div>
      <div class="box box-2">
        <h3>
          合作单位
        </h3>
        <div class="links clearfix">
          <ul class="link-list">
            <li><a href="#">北京协和医院</a></li>
            <li><a href="#">中华泌尿杂志</a></li>
            <li><a href="#">中国医师协会</a></li>
            <li><a href="#">健康报网</a></li>
            <li><a href="#">OBGYN.net</a></li>
            <li><a href="#">中华杂志</a></li>
            <li><a href="#">搜狐健康频道</a></li>
            <li><a href="#">丁香园妇</a></li>
            <li><a href="#">现代进展健康报</a></li>
            <li><a href="#">中国健康杂志</a></li>
          </ul>
        </div>
      </div>
      <div class="box box-3">
        <h3>
          其他
        </h3>
        <div class="links clearfix">
          <ul class="link-list">
            <li><a href="#">设为首页</a></li>
            <li><a href="#">加入收藏</a></li>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">广告合作</a></li>
            <li><a href="#">求职招聘</a></li>
          </ul>
        </div>
      </div>
      <div class="box box-4">
        <h3>
          联系我们
        </h3>
        <div class="links clearfix">
          <ul class="link-list">
            <li>编辑部电话：029-88888888</li>
            <br>
            <br>
            <br>
            <br>
          </ul>
        </div>
      </div>
      <div class="box box-5">
        <h3>
          投稿邮箱
        </h3>
        <div class="links clearfix">
          <ul class="link-list">
            <li>邮箱地址：ztougao@cug.top</li>
            
            <li>
              <form>
                <input type="email" placeholder="输入您的邮箱地址......">
                <button>
                  <i class="iconfont icon-email"></i>
                </button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright © 2017y  陕ICP备17019514号 陕公安备案61019002000489</p>
      <p>
        本站所刊载的所有内容版权归大家泌尿网所有，未经授权不得转载。除非特别声明，本站刊出的所
        <br>
        有文章、视频等内容系大家泌尿网据原作者相关内容生成，不代表大家泌尿网的观点和立场。
      </p>
    </div>
  </div>
</footer>


<div class="modal-vodeo">
  <div class="inner">
    <p>抱歉，您无权访问视频</p>
    <a href="/userdata/register/">立即注册</a>
    <a href="/?from=register">立即登录</a>
    <a href="/">返回首页</a>
  </div>
</div>


<div class="modal-login">
  <div class="mask"></div>
  <div class="inner" style="background-image: url('/static/images/modal_logo_bg.png')">
    <form action="/userdata/login/" method="post">
      <img src="/static/images/logo.png" alt="LOGO">
      <input class="ipt-telnum" type="text" name="telnum" placeholder="输入手机号" required>
      <input class="ipt-password" type="password" name="password" placeholder="输入密码" required>
      <div class="error"></div>
      <button type="submit">登录</button>
      <div class="login-links">
        <a href="/userdata/register/">立即注册</a>
        <a href="/userdata/sendpwdnum/">忘记密码</a>
      </div>
    </form>
    <div class="login-close">
      <i class="iconfont icon-close"></i>
    </div>
  </div>
</div>

<script src='/static/js/modernizr.js'></script>
<script src='/static/js/jquery.min.js'></script>
<script src='/static/js/jquery.jcarousel.min.js'></script>
<script src='/static/js/masonry.pkgd.min.js'></script>
<script src='/static/js/index.js'></script>

<script type="text/javascript">
$(function () {
  var navbarJcarousel = $('.navbar-wrap .carousel-wrap');
  navbarJcarousel.on('jcarousel:reload jcarousel:create', function () {
    navbarJcarousel.jcarousel('items').width(navbarJcarousel.innerWidth());
  }).jcarousel({
    wrap: 'circular',
    transitions: Modernizr.csstransitions ? {
      transforms: Modernizr.csstransforms,
      transforms3d: Modernizr.csstransforms3d,
      easing: 'ease'
    } : false
  });

  $('.navbar-wrap .carousel-control-prev')
    .on('jcarouselcontrol:active', function() {
        $(this).removeClass('inactive');
    })
    .on('jcarouselcontrol:inactive', function() {
        $(this).addClass('inactive');
    })
    .on('click', function(e) {
        e.preventDefault();
    })
    .jcarouselControl({
        target: '-=1'
    });

  $('.navbar-wrap .carousel-control-next')
    .on('jcarouselcontrol:active', function() {
        $(this).removeClass('inactive');
    })
    .on('jcarouselcontrol:inactive', function() {
        $(this).addClass('inactive');
    })
    .on('click', function(e) {
        e.preventDefault();
    })
    .jcarouselControl({
        target: '+=1'
    });

  $('.navbar-wrap .carousel-pagination')
    .on('jcarouselpagination:active', 'a', function() {
      $(this).addClass('active');
    })
    .on('jcarouselpagination:inactive', 'a', function() {
      $(this).removeClass('active');
    })
    .on('click', function(e) {
      e.preventDefault();
    })
    .jcarouselPagination({
      item: function(page) {
        return '<a href="#' + page + '">' + page + '</a>';
    }
  });

  var professorJcarousel = $('.section-professor .carousel-wrap');
  professorJcarousel.on('jcarousel:reload jcarousel:create', function () {
    professorJcarousel.jcarousel('items').width(professorJcarousel.innerWidth());
  }).jcarousel({
    wrap: 'circular',
    transitions: Modernizr.csstransitions ? {
      transforms: Modernizr.csstransforms,
      transforms3d: Modernizr.csstransforms3d,
      easing: 'ease'
    } : false
  });
  $('.section-professor .carousel-control-prev')
    .on('jcarouselcontrol:active', function() {
        $(this).removeClass('inactive');
    })
    .on('jcarouselcontrol:inactive', function() {
        $(this).addClass('inactive');
    })
    .on('click', function(e) {
        e.preventDefault();
    })
    .jcarouselControl({
        target: '-=1'
    });
  $('.section-professor .carousel-control-next')
    .on('jcarouselcontrol:active', function() {
        $(this).removeClass('inactive');
    })
    .on('jcarouselcontrol:inactive', function() {
        $(this).addClass('inactive');
    })
    .on('click', function(e) {
        e.preventDefault();
    })
    .jcarouselControl({
        target: '+=1'
    });
  $('.section-professor .carousel-pagination')
    .on('jcarouselpagination:active', 'a', function() {
      $(this).addClass('active');
    })
    .on('jcarouselpagination:inactive', 'a', function() {
      $(this).removeClass('active');
    })
    .on('click', function(e) {
      e.preventDefault();
    })
    .jcarouselPagination({
      item: function(page) {
        return '<a href="#' + page + '">' + page + '</a>';
    }
  });
//
  if (getUrlParam('from') == 'register') {
    $('.modal-login').show();
    $('.modal-login .login-close').click(function () {
      window.location.search = ''
    });
  }
});
</script>


<script type="text/javascript">
  $(function () {
    var dds = $('.ppp');
    for (var i = 0; i < dds.length; i++) {
      $(dds[i]).html('<p>' + $(dds[i]).text().slice(0, 60) + '...' + '</p>');
      $(dds[i]).show();
    };
  });
</script>


</body>
</html>
