<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>个人中心</title>
  <link rel="stylesheet" href="//at.alicdn.com/t/font_456673_42tn1s2nuwx3l3di.css">
  <link rel="stylesheet" href="/static/css/base.css">
  
  <link rel="stylesheet" href="/static/css/profile.css">

</head>
<body>

<header class="header-wrap">
  <a class="logo" href="/">
    <img src="/static/images/logo.png" alt="LOGO">
  </a>
  <div class="search">
    <form>
      <input type="text">
      <button>
        <i class="iconfont icon-search"></i>
      </button>
    </form>
    
  </div>
  <div class="profile">
    <button class="btn-login" id="btn_login">请登录</button>
    <button>
      <a href="/userdata/register/">免费注册</a>
    </button>
  </div>
</header>


<div class="profile-banner" style="background-image: url('/static/images/connection_banner.png');">
  <div class="inner clearfix">
    <div class="box-profile clearfix">
      <div class="avatar">
        <img src="{{ userinfo.headimg }}" alt="AVATAR">
      </div>
      <div class="detail">
        <div class="name">{{ userinfo.username }}</div>
        <div class="title">
          <div class="main">{{ userinfo.hospital }} {{ userinfo.title }}</div>
        </div>
      </div>
    </div>
    <div class="box-integral">
      <i class="iconfont icon-jifen"></i>
      <span>{{ userinfo.integralnum }}积分</span>
    </div>
  </div>
</div>


<div class="profile-content">
  <div class="inner">
    <div class="tabs">
      <a href="#" class="btn-1 active">
          {% ifequal 0 userinfo.identity %}
          {{ 医生 }}
          {% else %}
            {% ifequal 1 userinfo.identity %}
            {{ 护士 }}
            {% else %}
            {{ 学生 }}
            {% endifequal %}
          {% endifequal %}
        </a>
      <a href="#" class="btn-2">收藏</a>
    </div>
    <ul class="detail-list">
      <li class="clearfix detail-avatar">
        <label>用户头像：</label>
        <div class="item">
          <img src="{{ userinfo.headimg }}" alt="AVATAR">
        </div>
        <div class="option">
          修改头像
        </div>
      </li>
      <li class="clearfix">
        <label>真实姓名：</label>
        <div class="item">{{ userinfo.username }}</div>
      </li>
      <li class="clearfix">
        <label>性别：</label>
        <div class="item">
            {% ifequal 0 userinfo.sex %}
            {{ 女 }}
            {% else %}
            {{ 男 }}
            {% endifequal %}
          </div>
      </li>
      <li class="clearfix">
        <label>手机号：</label>
        <div class="item">{{ userinfo.telnum }}</div>
        <div class="option">
          修改手机号
        </div>
      </li>
      <li class="clearfix detail-address">
        <label>所在医院：</label>
        <div class="item">{{ userinfo.hospital }}</div>
      </li>
      <li class="clearfix">
        <label>所在科室：</label>
        <div class="item">{{ userinfo.department }}</div>
      </li>
      <li class="clearfix">
        <label>医生职称：</label>
        <div class="item">{{ userinfo.title }}</div>
      </li>
      <li class="clearfix">
        <label>执业证：</label>
        <div class="item">{{ userinfo.certificate }}</div>
      </li>
    </ul>
  </div>
</div>


<div class="modal-login">
  <div class="mask"></div>
  <div class="inner" style="background-image: url('/static/images/modal_logo_bg.png')">
    <form action="/userdata/login/" method="post">
      <img src="/static/images/logo.png" alt="LOGO">
      <input class="ipt-telnum" type="text" name="telnum" placeholder="输入手机号" required>
      <input class="ipt-password" type="password" name="password" placeholder="输入密码" required>
      <div class="error"></div>
      <button type="submit">登录</button>
      <div class="login-links">
        <a href="/userdata/register/">立即注册</a>
        <a href="/userdata/sendpwdnum/">忘记密码</a>
      </div>
    </form>
    <div class="login-close">
      <i class="iconfont icon-close"></i>
    </div>
  </div>
</div>

<script src='/static/js/modernizr.js'></script>
<script src='/static/js/jquery.min.js'></script>
<script src='/static/js/jquery.jcarousel.min.js'></script>
<script src='/static/js/index.js'></script>



</body>
</html>
