<ul class="navbar-list clearfix">
  <li>
    <a href="/column"><span>资讯</span><i class="iconfont icon-add"></i></a>
  </li>
  <li>
    <a class="nav-has-children">
      <span>学会</span><i class="iconfont icon-add"></i>
    </a>
    <div class="nav-children">
      <a href="/association/baojian">中国医疗保健国际交流促进会</a>
      <a href="/association/miniao">中国研究型医院学会泌尿外科分会</a>
    </div>
  </li>
  <li>
    <a href="/expert"><span>专家</span><i class="iconfont icon-add"></i></a>
  </li>
  <li class="video-hide">
    <a href="/video"><span>视频</span></a>
  </li>
  <li>
    <a href="/subject"><span>学科</span></a>
  </li>
  <li>
    <a href="/meeting"><span>会议</span></a>
  </li>
  <li>
    <a>
      <span>期刊</span>
    </a>
    <div class="nav-children">
      <a href="/magazine/xiandai">现代泌尿外科杂志</a>
      <a href="/magazine/dianzi">泌尿外科杂志电子版</a>
      <a href="/magazine/weichuang">微创泌尿外科杂志社</a>
    </div>
  </li>
  <li>
    <a href="/nursing"><span>护理园地</span></a>
  </li>
  <li>
    <a href="/sruco"><span>SRUCO</span></a>
  </li>
  <li>
    <a href="/guide"><span>指南</span></a>
  </li>
  <li>
    <a href="/universal"><span>科普园地</span></a>
  </li>
  <li>
    <a href="/recommend"><span>药械推荐</span></a>
  </li>
</ul>
