<ul class="navbar-list clearfix">
  <li>
    <a href="/column"><span>资讯</span><i class="iconfont icon-add"></i></a>
  </li>
  <li>
    <a href="/association"><span>学会</span><i class="iconfont icon-add"></i></a>
  </li>
  <li>
    <a href="/expert"><span>专家</span><i class="iconfont icon-add"></i></a>
  </li>
  <li class="video-hide">
    <a href="/video"><span>视频</span></a>
  </li>
  <li>
    <a href="/subject"><span>学科</span></a>
  </li>
  <li>
    <a href="/meetting"><span>会议</span></a>
  </li>
  <li>
    <a href="/magazine"><span>期刊</span></a>
  </li>
  <li>
    <a href="/nursing"><span>护理园地</span></a>
  </li>
  <li>
    <a href="/sruco"><span>SRUCO</span></a>
  </li>
  <li>
    <a href="/guide"><span>指南</span></a>
  </li>
  <li>
    <a href="/universal"><span>科普园地</span></a>
  </li>
  <li>
    <a href="/recommend"><span>药械推荐</span></a>
  </li>
</ul>
